<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.handsome.balloonblog.mbg.mapper.TArticleLabelMapper">
  <resultMap id="BaseResultMap" type="com.handsome.balloonblog.mbg.model.TArticleLabel">
    <id column="article_id" jdbcType="BIGINT" property="articleId" />
    <id column="label_id" jdbcType="BIGINT" property="labelId" />
    <result column="article_label_gmt_create" jdbcType="TIMESTAMP" property="articleLabelGmtCreate" />
    <result column="article_label_gmt_modified" jdbcType="TIMESTAMP" property="articleLabelGmtModified" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    article_id, label_id, article_label_gmt_create, article_label_gmt_modified
  </sql>
  <select id="selectByExample" parameterType="com.handsome.balloonblog.mbg.model.TArticleLabelExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from t_article_label
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="map" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_article_label
    where article_id = #{articleId,jdbcType=BIGINT}
      and label_id = #{labelId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="map">
    delete from t_article_label
    where article_id = #{articleId,jdbcType=BIGINT}
      and label_id = #{labelId,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.handsome.balloonblog.mbg.model.TArticleLabelExample">
    delete from t_article_label
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.handsome.balloonblog.mbg.model.TArticleLabel">
    insert into t_article_label (article_id, label_id, article_label_gmt_create, 
      article_label_gmt_modified)
    values (#{articleId,jdbcType=BIGINT}, #{labelId,jdbcType=BIGINT}, #{articleLabelGmtCreate,jdbcType=TIMESTAMP}, 
      #{articleLabelGmtModified,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.handsome.balloonblog.mbg.model.TArticleLabel">
    insert into t_article_label
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="articleId != null">
        article_id,
      </if>
      <if test="labelId != null">
        label_id,
      </if>
      <if test="articleLabelGmtCreate != null">
        article_label_gmt_create,
      </if>
      <if test="articleLabelGmtModified != null">
        article_label_gmt_modified,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="articleId != null">
        #{articleId,jdbcType=BIGINT},
      </if>
      <if test="labelId != null">
        #{labelId,jdbcType=BIGINT},
      </if>
      <if test="articleLabelGmtCreate != null">
        #{articleLabelGmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="articleLabelGmtModified != null">
        #{articleLabelGmtModified,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.handsome.balloonblog.mbg.model.TArticleLabelExample" resultType="java.lang.Long">
    select count(*) from t_article_label
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update t_article_label
    <set>
      <if test="record.articleId != null">
        article_id = #{record.articleId,jdbcType=BIGINT},
      </if>
      <if test="record.labelId != null">
        label_id = #{record.labelId,jdbcType=BIGINT},
      </if>
      <if test="record.articleLabelGmtCreate != null">
        article_label_gmt_create = #{record.articleLabelGmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.articleLabelGmtModified != null">
        article_label_gmt_modified = #{record.articleLabelGmtModified,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update t_article_label
    set article_id = #{record.articleId,jdbcType=BIGINT},
      label_id = #{record.labelId,jdbcType=BIGINT},
      article_label_gmt_create = #{record.articleLabelGmtCreate,jdbcType=TIMESTAMP},
      article_label_gmt_modified = #{record.articleLabelGmtModified,jdbcType=TIMESTAMP}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.handsome.balloonblog.mbg.model.TArticleLabel">
    update t_article_label
    <set>
      <if test="articleLabelGmtCreate != null">
        article_label_gmt_create = #{articleLabelGmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="articleLabelGmtModified != null">
        article_label_gmt_modified = #{articleLabelGmtModified,jdbcType=TIMESTAMP},
      </if>
    </set>
    where article_id = #{articleId,jdbcType=BIGINT}
      and label_id = #{labelId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.handsome.balloonblog.mbg.model.TArticleLabel">
    update t_article_label
    set article_label_gmt_create = #{articleLabelGmtCreate,jdbcType=TIMESTAMP},
      article_label_gmt_modified = #{articleLabelGmtModified,jdbcType=TIMESTAMP}
    where article_id = #{articleId,jdbcType=BIGINT}
      and label_id = #{labelId,jdbcType=BIGINT}
  </update>
</mapper>